<p class="complete">Complete Inventory at Al's:</p>


<table class="inventory">
  <tr class="headings">
    <th>Artist Name</th>
    <th>Album Name</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Quantity</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.artist %></td>
    <td><%= album.album_name %></td>
    <td><%= album.album_buy %></td>
    <td><%= album.album_sell %></td>
    <td><%= album.quantity %></td>
  </tr>
  <% end %>
</table>
