<p>Complete Inventory at Al's</p>


<div class="albums">
 <% @albums.each do |album| %>
 <div class="individual">
   <div class="artists">
   <p>Artists Name:  <%= album.artist()%>  </p>
   </div>
   <div class="albums">
   <p>Album Name: <%= album.album_name()%> </p>
   </div>
   <div class="quantity">
   <p> Quantity: <%= album.quantity()%>    </p>
   </div>
   <div class="buy_price">
   <p>Buy Price: <%= album.album_buy()%>   </p>
   </div>
   <div class="sell_price">
   <p>Sell Price: <%= album.album_sell()%> </p>
   </div>
  </div>
 <% end %>
</div>
